
= simple_form_for @article do |f|
  = f.error_notification

  .form-inputs
    = f.input :title, input_html: { class: 'span9' }
    = f.input :content, as: :text, input_html: { rows: 8, class: 'span9' }
    = f.input :author_id, collection: User.all, label_method: :name, value_method: :id, prompt: "Select Author"

  .form-actions
    = f.button :submit, class: 'btn btn-warning'
